body {
  background-color: #231F20;
  color: whitesmoke;
  font-family: "Poppins", serif;
}

.navbar {
  background-color: #231F20 !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

span,
a {
  text-decoration: none !important;
}

/* .divider{
    border-right: 2px solid whitesmoke;
    height: 800px;

} */

.side-bar-maincontent {
  align-items: center;
}



.side-content {
  padding-top: 10px;
  margin: 30px;
}

.fullname {
  font-size: 12px;
  font-weight: 300;
  color: #F5F5F5;

}

.name-content {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
  line-height: 1;
  color: #F85700;

}

.status {
  padding-top: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 12px;

}

.content-desc {
  text-align: center;
  color: #231F20;
}

.top-c-contianer {
  background-color: #231F20;
  width: 100%;
  height: auto;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
}

.card {
  border-radius: 29px;
  color: #F5F5F5;

}

.post-container {
  border-radius: 20px;
  margin-top: 20px;
  height: 800px;
  overflow: scroll;
}

.custom-scroll::-webkit-scrollbar {
  display: none;

}

/* effect */

.hover-effect {
  padding: 10px;
  transition: color 0.3s ease;
}

.hover-effect:hover {
  color: #F85700;
  cursor: pointer;
}

.divider {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.side-content {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: color 0.3s ease;
}

.side-content i {
  margin-right: 10px;
  transition: color 0.3s ease;
}

.side-content:hover {
  color: #F85700;
}

.side-content:hover i {
  color: #F85700;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 1040px) {
  .side-content .text {
    display: none;
  }

  .side-content {
    justify-content: center;
  }
}


.side-content-btn {
  display: flex;
  justify-content: start;
  padding: 10px;


}

.side-btn {
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 80px;
  font-weight: bold;
  font-size: 10px;
  background-color: #F85700;
  color: #231F20;
  border-color: #F85700;
}

.side-btn .button-text {
  display: inline;
  /* Make text visible by default */
}

.side-btn .button-text::after {
  content: "P";
  /* Show only the first letter */
  display: none;
  /* Hide the full text by default */
}

@media (max-width: 768px) {
  .side-btn .button-text {
    display: none;
    /* Hide the full text */
  }

  .side-btn::after {
    content: "P";
    /* Display only 'P' on smaller screens */
    display: inline;
    /* Show the 'P' */
    font-size: 10px;
    /* Adjust font size for the 'P' */
  }


  .side-btn:hover {
    background-color: #F85700;
    color: #231F20;
    border-color: #F85700;
  }
}

.deletebtn{
  font-size: 12px;
  width: 80px;
  height: 20px;
  text-align: center;
  line-height: 0.5;
  margin-right: 10px;
  margin-bottom: 5px;
}